In [3]:
import pandas
# Data/ATC_batter_projections.csv

In [99]:
ATC_batter_projections = pandas.read_csv('Data/ATC_batter_projections.csv')
ATC_batter_values = pandas.read_csv('Data/ATC_batter_values.csv')
ATC_batter_projections_simplified = ATC_batter_projections.drop(columns = ['Name','G', 'AB', 'H', '1B', '2B', '3B', 'BB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'CS', 'BB%', 'IBB', 'K%', 'BB/K', 'ISO', 'BABIP', 'AVG', 'InterSD', 'InterSK', 'IntraSD', 'Spd', 'UBR', 'wSB', 'wRC', 'wRAA', 'BsR', 'Fld', 'Off', 'Def', 'WAR', 
                                                            'wRC+', 'Team', 'ADP'])
ATC_batter_values_simplified = ATC_batter_values.drop(columns = ['Team', 'ADP', 'PA', 'mRBI', 'mR', 'mSB', 'mHR', 'mOBP', 'mSLG', 'PTS', 'aPOS'])
joined_ATC = ATC_batter_values_simplified.merge(ATC_batter_projections_simplified, left_on='PlayerId', right_on='PlayerId')

In [110]:
BatX_batter_projections = pandas.read_csv('Data/BatX_batter_projections.csv')
BatX_batter_values = pandas.read_csv('Data/BatX_batter_values.csv')
BatX_batter_projections_simplified = BatX_batter_projections.drop(columns = ['Name','G', 'AB', 'H', '1B', '2B', '3B', 'BB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'CS', 'BB%', 'IBB', 'K%', 'BB/K', 'ISO', 'BABIP', 'AVG', 'InterSD', 'InterSK', 'IntraSD', 'Spd', 'UBR', 'wSB', 'wRC', 'wRAA', 'BsR', 'Fld', 'Off', 'Def', 'WAR', 
                                                            'wRC+', 'Team', 'ADP'])
BatX_batter_values_simplified = BatX_batter_values.drop(columns = ['Team', 'ADP', 'PA', 'mRBI', 'mR', 'mSB', 'mHR', 'mOBP', 'mSLG', 'PTS', 'aPOS'])
joined_BatX = BatX_batter_values_simplified.merge(BatX_batter_projections_simplified, left_on='PlayerId', right_on='PlayerId')

In [111]:
fantrax_hitters = pandas.read_csv('Data/Fantrax_hitters.csv')
fantrax_hitters = fantrax_hitters[['Player', 'ADP']]
fantrax_hitters['Fantrax_Rank'] = range(1, len(fantrax_hitters) + 1)

# hitters_fantrax_ranks = joined_ATC.merge(fantrax_hitters, left_on='NameASCII_y', right_on='Player').rename(columns={'ADP': 'Fantrax_ADP'})
hitters_fantrax_ranks = joined_BatX.merge(fantrax_hitters, left_on='NameASCII_y', right_on='Player').rename(columns={'ADP': 'Fantrax_ADP'})

In [112]:
hitters_fantrax_ranks.sort_values('Fantrax_Rank').head(10)

,Name,POS,Dollars,NameASCII_x,PlayerId,MLBAMID_x,PA,HR,R,RBI,...,TT50,TT60,TT70,TT80,TT90,NameASCII_y,MLBAMID_y,Player,Fantrax_ADP,Fantrax_Rank
0,Shohei Ohtani,DH,61.002895,Shohei Ohtani,19755,660271,643.051,42.1765,115.7210,109.5520,...,NaN,NaN,NaN,NaN,NaN,Shohei Ohtani,660271,Shohei Ohtani,1.34,1
4,José Ramírez,3B/DH,35.730150,Jose Ramirez,13510,608070,660.954,27.5587,93.3902,89.1443,...,NaN,NaN,NaN,NaN,NaN,Jose Ramirez,608070,Jose Ramirez,5.34,2
1,Juan Soto,OF,44.643457,Juan Soto,20123,665742,673.715,34.1726,104.4520,93.5679,...,NaN,NaN,NaN,NaN,NaN,Juan Soto,665742,Juan Soto,5.53,3
9,Kyle Tucker,OF,31.303568,Kyle Tucker,18345,663656,640.255,26.9616,89.9207,90.0812,...,NaN,NaN,NaN,NaN,NaN,Kyle Tucker,663656,Kyle Tucker,8.41,4
6,Mookie Betts,SS/OF,34.827812,Mookie Betts,13611,605141,651.713,27.0749,95.3458,89.2755,...,NaN,NaN,NaN,NaN,NaN,Mookie Betts,605141,Mookie Betts,10.84,5
11,Francisco Lindor,SS,29.790812,Francisco Lindor,12916,596019,670.709,28.6604,92.5822,85.0946,...,NaN,NaN,NaN,NaN,NaN,Francisco Lindor,596019,Francisco Lindor,12.91,6
2,Vladimir Guerrero Jr.,1B/DH,43.694840,Vladimir Guerrero Jr.,19611,665489,666.642,33.4320,97.0368,103.3800,...,NaN,NaN,NaN,NaN,NaN,Vladimir Guerrero Jr.,665489,Vladimir Guerrero Jr.,14.56,7
3,Yordan Alvarez,OF/DH,42.091953,Yordan Alvarez,19556,670541,590.786,37.6667,90.8027,101.7020,...,NaN,NaN,NaN,NaN,NaN,Yordan Alvarez,670541,Yordan Alvarez,17.92,8
5,Ronald Acuña Jr.,OF,34.958614,Ronald Acuna Jr.,18401,660670,519.512,24.6732,91.9079,69.6761,...,NaN,NaN,NaN,NaN,NaN,Ronald Acuna Jr.,660670,Ronald Acuna Jr.,25.02,9
19,Trea Turner,SS,20.872083,Trea Turner,16252,607208,636.269,19.4440,85.1052,76.9802,...,NaN,NaN,NaN,NaN,NaN,Trea Turner,607208,Trea Turner,27.66,10

In [113]:
updated_hitters = hitters_fantrax_ranks[['Name', 'POS', 'Fantrax_Rank', 'Fantrax_ADP', 'Dollars', 'PA', 'HR', 'R', 'RBI', 'SB', 'OBP', 'SLG', 'OPS','wOBA']]
updated_hitters.sort_values(by=['Fantrax_Rank']).head(20)

,Name,POS,Fantrax_Rank,Fantrax_ADP,Dollars,PA,HR,R,RBI,SB,OBP,SLG,OPS,wOBA
0,Shohei Ohtani,DH,1,1.34,61.002895,643.051,42.1765,115.7210,109.5520,33.039200,0.381655,0.587184,0.968839,0.405108
4,José Ramírez,3B/DH,2,5.34,35.730150,660.954,27.5587,93.3902,89.1443,31.337100,0.337605,0.481586,0.819191,0.346528
1,Juan Soto,OF,3,5.53,44.643457,673.715,34.1726,104.4520,93.5679,7.750370,0.411752,0.519628,0.931380,0.399116
9,Kyle Tucker,OF,4,8.41,31.303568,640.255,26.9616,89.9207,90.0812,20.376700,0.361814,0.481956,0.843769,0.361436
6,Mookie Betts,SS/OF,5,10.84,34.827812,651.713,27.0749,95.3458,89.2755,13.237700,0.364701,0.487327,0.852028,0.366581
11,Francisco Lindor,SS,6,12.91,29.790812,670.709,28.6604,92.5822,85.0946,21.848100,0.330020,0.459389,0.789410,0.340247
2,Vladimir Guerrero Jr.,1B/DH,7,14.56,43.694840,666.642,33.4320,97.0368,103.3800,5.573150,0.376049,0.529851,0.905900,0.385341
3,Yordan Alvarez,OF/DH,8,17.92,42.091953,590.786,37.6667,90.8027,101.7020,2.116370,0.385369,0.580998,0.966367,0.405281
5,Ronald Acuña Jr.,OF,9,25.02,34.958614,519.512,24.6732,91.9079,69.6761,37.115500,0.387703,0.528363,0.916066,0.391954
19,Trea Turner,SS,10,27.66,20.872083,636.269,19.4440,85.1052,76.9802,23.513000,0.324652,0.441602,0.766254,0.331469
17,Kyle Schwarber,DH,11,28.41,24.963638,657.264,33.7758,86.8460,94.7976,4.108890,0.342055,0.443911,0.785966,0.342112
8,Rafael Devers,3B,12,28.88,32.194992,628.509,32.2955,84.0540,97.9424,3.249530,0.346332,0.502206,0.848538,0.359810
13,Matt Olson,1B,13,30.54,28.870614,665.094,32.6033,88.0343,95.8248,0.517811,0.340413,0.467464,0.807877,0.346574
18,Manny Machado,3B/DH,14,33.13,23.652498,634.310,29.9159,80.8714,89.3438,7.442740,0.319459,0.462628,0.782087,0.334633
7,Austin Riley,3B,15,34.32,34.273030,648.822,33.3214,91.8709,98.3515,1.664200,0.342714,0.507802,0.850516,0.362665
12,Pete Alonso,1B,16,39.76,28.905941,659.219,36.0213,84.4015,96.8216,3.189380,0.327167,0.471568,0.798736,0.343032
59,Jose Altuve,2B,17,41.91,8.724686,624.899,16.8231,78.5442,65.9600,15.119600,0.323778,0.402210,0.725988,0.318247
10,Corey Seager,SS,18,43.26,30.662033,549.301,31.7858,77.4423,88.2938,1.085060,0.359563,0.541970,0.901533,0.380167
40,Ozzie Albies,2B,19,51.33,12.854973,624.370,20.0245,79.8522,75.7734,11.752200,0.316613,0.433951,0.750563,0.323871
24,Willy Adames,SS,20,55.7,17.565642,642.342,25.2580,79.9080,79.0242,11.379300,0.317216,0.430627,0.747843,0.323610

In [114]:
final_hitters = updated_hitters

In [116]:
final_hitters.to_csv('RyanBattersBatX2025.csv')
# final_ATC.to_csv('RyanBatters2025.csv')

PITCHERS BELOW

In [48]:
ATC_pitcher_projections = pandas.read_csv('Data/ATC_pitcher_projections.csv')
ATC_pitcher_projections_simplified = ATC_pitcher_projections.drop(columns = ['Team', 'W', 'L', 'G', 'GS', 'TBF', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'HBP', 'K/BB', 'HR/9', 'K%', 'BB%','AVG', 'BABIP', 'LOB%',
       'GB%', 'HR/FB', 'FIP', 'WAR', 'RA9-WAR',  'InterSD', 'InterSK',
       'IntraSD',])
ATC_pitcher_values = pandas.read_csv('Data/ATC_pitcher_values.csv')
ATC_pitcher_values_simplified = ATC_pitcher_values.drop(columns = ['Name','Team','ADP', 'IP', 'mSV', 'mERA', 'mWHIP', 'mSO',
        'mQS', 'PTS', 'aPOS'])
joined_ATC_pitchers = ATC_pitcher_values_simplified.merge(ATC_pitcher_projections_simplified, left_on='PlayerId', right_on='PlayerId')

In [49]:
joined_ATC_pitchers.head()

,POS,mIP,Dollars,NameASCII_x,PlayerId,MLBAMID_x,Name,QS,ERA,SV,...,TT20,TT30,TT40,TT50,TT60,TT70,TT80,TT90,NameASCII_y,MLBAMID_y
0,SP,2.996566,36.886763,Tarik Skubal,22267,669373,Tarik Skubal,15.7099,2.87714,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tarik Skubal,669373
1,SP,2.323735,33.616073,Paul Skenes,33677,694973,Paul Skenes,15.2029,2.79472,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paul Skenes,694973
2,SP,3.645821,30.463125,Logan Gilbert,22250,669302,Logan Gilbert,16.1965,3.38958,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Logan Gilbert,669302
3,SP,3.517635,30.432391,Zack Wheeler,10310,554430,Zack Wheeler,17.9230,3.28133,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zack Wheeler,554430
4,SP,2.792162,23.215246,George Kirby,25436,669923,George Kirby,15.1359,3.49848,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,George Kirby,669923

In [62]:
fantrax_pitchers = pandas.read_csv('Data/Fantrax_pitchers.csv')
fantrax_pitchers = fantrax_pitchers[['Player', 'ADP']]
fantrax_pitchers['Fantrax_Rank'] = range(1, len(fantrax_pitchers) + 1)

pitchers_fantrax_ranks = joined_ATC_pitchers.merge(fantrax_pitchers, left_on='NameASCII_y', right_on='Player').rename(columns={'ADP_y': 'Fantrax_ADP'})

In [70]:
updated_pitchers = pitchers_fantrax_ranks[['Name', 'Fantrax_Rank', 'Fantrax_ADP', 'Dollars', 'IP','ERA', 'WHIP',  'K/9', 'QS','SV','K-BB%']]
updated_pitchers.sort_values(by=['Fantrax_Rank'], ascending=True).head(10)

,Name,Fantrax_Rank,Fantrax_ADP,Dollars,IP,ERA,WHIP,K/9,QS,SV,K-BB%
51,Shohei Ohtani,1,1.34,7.471159,110.951,3.52475,1.14124,10.52070,8.53678,0.000000,0.202406
0,Logan Gilbert,2,29.21,30.463125,194.103,3.38958,1.03408,9.25531,16.19650,0.000000,0.207009
6,Corbin Burnes,3,34.48,19.731059,187.222,3.54585,1.16585,8.86073,16.09300,0.000000,0.169936
2,Chris Sale,4,38.53,22.852593,154.434,3.14146,1.08398,10.76040,12.71450,0.000000,0.231604
4,Dylan Cease,5,41.57,20.627274,182.059,3.50538,1.16914,10.57490,14.26070,0.000000,0.195316
1,George Kirby,6,48.91,23.215246,180.713,3.49848,1.07090,8.43628,15.13590,0.000000,0.199199
7,Blake Snell,7,52,18.801362,156.507,3.33964,1.17234,11.65020,13.27450,0.000000,0.208758
3,Framber Valdez,8,58.38,20.923653,185.534,3.32716,1.17962,8.80818,15.88940,0.000000,0.161415
20,Michael King,9,58.9,14.981253,169.759,3.53185,1.20181,9.88058,12.25570,0.088522,0.180609
10,Shota Imanaga,10,60.23,17.645040,171.152,3.62862,1.11710,8.97017,13.05570,0.000000,0.192651

In [75]:
# final_ATC_pitchers = joined_ATC_pitchers[['Name', 'POS', 'Dollars', 'IP','ERA', 'WHIP',  'K/9', 'QS','SV', 'HLD', 'K-BB%']]
# final_ATC_pitchers.sort_values(by=['Dollars'])

# final_ATC_pitchers = final_ATC_pitchers.head(300)
# final_ATC_pitchers


# PL_rankings

                   Name  PL_Rank
0          Tarik Skubal      1.0
1       Garrett Crochet      2.0
2           Paul Skenes      3.0
3          Zack Wheeler      4.0
4         Corbin Burnes      5.0
..                  ...      ...
101                 NaN      NaN
102  Sawyer Gipson-Long     97.0
103        Kyle Bradish     98.0
104     Cristian Javier     99.0
105        Shane Bieber    100.0

[106 rows x 2 columns]

In [79]:
PL_rankings = pandas.read_csv('Data/PL_ranks.csv', encoding='latin-1')
Eno_rankings = pandas.read_csv('Data/Eno_ranks.csv', encoding='latin-1')

In [81]:
final_pitchers = updated_pitchers.merge(PL_rankings, how = 'left', left_on= 'Name', right_on= 'Name')
final_pitchers = final_pitchers.merge(Eno_rankings, how = 'left', left_on= 'Name', right_on= 'Name')
final_pitchers.sort_values(by='Fantrax_Rank').head(20)

,Name,Fantrax_Rank,Fantrax_ADP,Dollars,IP,ERA,WHIP,K/9,QS,SV,K-BB%,PL_Rank,Eno,Stuff+
51,Shohei Ohtani,1,1.34,7.471159,110.951,3.52475,1.14124,10.52070,8.53678,0.000000,0.202406,41.0,22.0,115.0
0,Logan Gilbert,2,29.21,30.463125,194.103,3.38958,1.03408,9.25531,16.19650,0.000000,0.207009,7.0,5.0,101.0
6,Corbin Burnes,3,34.48,19.731059,187.222,3.54585,1.16585,8.86073,16.09300,0.000000,0.169936,5.0,4.0,112.0
2,Chris Sale,4,38.53,22.852593,154.434,3.14146,1.08398,10.76040,12.71450,0.000000,0.231604,18.0,6.0,106.0
4,Dylan Cease,5,41.57,20.627274,182.059,3.50538,1.16914,10.57490,14.26070,0.000000,0.195316,16.0,9.0,111.0
1,George Kirby,6,48.91,23.215246,180.713,3.49848,1.07090,8.43628,15.13590,0.000000,0.199199,10.0,10.0,104.0
7,Blake Snell,7,52,18.801362,156.507,3.33964,1.17234,11.65020,13.27450,0.000000,0.208758,19.0,13.0,99.0
3,Framber Valdez,8,58.38,20.923653,185.534,3.32716,1.17962,8.80818,15.88940,0.000000,0.161415,26.0,12.0,106.0
20,Michael King,9,58.9,14.981253,169.759,3.53185,1.20181,9.88058,12.25570,0.088522,0.180609,9.0,28.0,97.0
10,Shota Imanaga,10,60.23,17.645040,171.152,3.62862,1.11710,8.97017,13.05570,0.000000,0.192651,14.0,36.0,98.0
11,Yoshinobu Yamamoto,11,60.62,16.901155,153.241,3.42764,1.11120,9.51706,11.64740,0.000000,0.197712,20.0,24.0,93.0
16,Jacob deGrom,12,62.69,15.876186,110.458,3.05012,1.00440,11.25760,9.45075,0.000000,0.260435,6.0,14.0,115.0
19,Aaron Nola,13,63.8,15.363212,187.488,3.89021,1.16657,8.89436,14.78720,0.000000,0.182278,36.0,27.0,107.0
35,Hunter Greene,14,78.93,10.758435,151.279,3.89533,1.17196,10.57750,11.15130,0.000000,0.196230,42.0,33.0,112.0
21,Bailey Ober,15,80.01,14.938679,171.087,3.94982,1.11301,9.27450,12.84600,0.000000,0.195321,23.0,55.0,93.0
5,Logan Webb,16,80.87,20.323648,196.302,3.41374,1.17819,7.68892,16.55120,0.000000,0.152241,27.0,26.0,104.0
8,Luis Castillo,17,81.92,18.087413,181.783,3.65006,1.15046,9.04325,14.46740,0.000000,0.177031,35.0,20.0,105.0
22,Freddy Peralta,18,90.38,13.573120,167.545,3.79283,1.18250,10.29270,12.25220,0.000000,0.189418,33.0,30.0,99.0
15,Max Fried,19,92.85,15.960989,167.005,3.40836,1.17743,8.50243,13.63690,0.000000,0.158840,12.0,16.0,103.0
18,Tanner Bibee,20,95.4,15.607849,170.278,3.67421,1.14840,9.49887,11.93380,0.000000,0.192165,24.0,31.0,99.0

In [82]:
final_pitchers.to_csv('RyanPitchers2025.csv')